/bootstrap
/database
/public
/documentacion
/DocSubidos
/app/Console
/app/Exceptions
/app/Providers
/resources/css
/resources/js
/resources/lang
/resources/sass
/storage
/tests
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.editorconfig
.styleci.yml
artisan
composer.json
composer.lock
package.json
package-lock.json
phpunit.xml
preview.png
server.php
webpack.mix.js
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log